.page-title {
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400 !important;
    color: #000;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.haotram {
    font-family: 'Noto Serif',serif;
    font-size: 2.4em;
    color: #000;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 10px 0;
}
#chiminhem {
    text-align: left;
    background-color: bisque;
}